@{
    ViewData["Title"] = "Ana Sayfa";
    var codes = new string[5] { "A", "B", "C", "D", "E" };
}

<div class="row" id="mainRow">
    <div class="col-3">
        <div class="form-group">
            <label>Film</label>
            <select class="form-control" v-model="movieId" @@change="movieChanged">
                <option value="0">Seçiniz</option>
                <option v-for="m in movies" v-bind:value="m.id">{{m.text}}</option>
            </select>
        </div>
        <button class="btn btn-success" @@click="savePlaces">Tamamla</button>
    </div>
    <div class="col-9">
        <h3>Koltuklar ( *** {{movieName}} *** )</h3>
        @for (int i = 0; i < 5; i++)
        {
            <div class="row">
                @for (int j = 0; j < 5; j++)
                {
                    <div class="col">
                        @{ var seatCode = string.Format("{0}{1}", codes[i], (j + 1)); }
                        <div class="card" :class='{ selectedCard: getSelected("@seatCode"),soldCard: getSold("@seatCode") }' style="width: 100px;">
                            <img src="~/images/seat.svg" class="card-img-top" />
                            <div class="card-body text-center">
                                <h5 class="card-title">@codes[i] @(j + 1)</h5>
                                <button v-if="movieId != 0 && !getSold('@seatCode')" class="animation-example btn btn-primary btn-sm"
                                        data-anim="flipInTop"
                                        code="@string.Format("{0}{1}", codes[i], (j + 1))"
                                        v-on:click="selectSeat($event)">
                                    Seç
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
@section Scripts {
    <script>
        var pageOptions = {
            getMovies : '@Url.Action("Movies", "Home")',
            saveplaces: '@Url.Action("SaveSeats", "Home")',
            getTickets: '@Url.Action("GetSoldTickets", "Home")'
        }
    </script>
    <script src="~/js/home/index.js"></script>
}